<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Novo</a> Lista de colaboradores</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>E-Mail</th>
            <th>Celular</th>
            <th>Cidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Você tem certeza que quer deletar esse colaborador?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>